#map {
    height: 400px;
    border-radius: 15px;
}

.select-section {
    padding-bottom: 15px;
}

.map-section {
    padding-bottom: 50px;
    padding-top: 15px;
}

.footer {
    padding-bottom: 48px;
}